body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #414345;
}

h2 {
  color: #414345;
}

h3 {
  margin: 0;
}

.nav-container {
  background: #DA22FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-width: 100%;
  height: 100px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-container h1 {
  color: white; 
}

hr.line {
  border: 2px solid #414345;
  border-radius: 5px;
  width: 250px;
  margin-top: 30px;
}
.main-container {
  display: flex;
  /* flex-direction: row;
  min-height: 100%;
  justify-content: center;
  text-align: center;
  gap: 150px; */
  justify-content: space-around;
}

.search-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 350px;
  text-align: center;
  justify-content: flex-start;
  align-items: stretch;
  /* border: solid 2px palevioletred; */
  border-radius: 30px;
  margin: 20px 0px 0px 30px;
  background-color: rgb(214, 214, 214);
}

.search-input {
  margin-bottom: 10px;
  min-width: 100%;
}

.search-input input {
  height: 30px;
  border-radius: 10px;
  min-width: 70%;
  border: none;
  padding-left: 20px;
}

button {
  background-color: rgb(58, 195, 244);
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 16px;
  margin-top: 20px;
  min-width: 70%;
  height: 30px;
}

button:hover {
  background-color: rgb(116, 216, 252);
  cursor: pointer;
}

.cities-button{
  list-style: none; 
}

.cities-button li {
  background-color: #e600ff;
  width: 200px;
  line-height: 2;
  margin: 0px 0px 20px 0px;
  border-radius: 10px;
  color: white;
  font-weight: 300;
}

.cities-button li:hover {
  background-color: #f06dff;
  cursor: pointer;
}

.city-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  min-width: 70%;
  margin-top: 20px;
}

.display-city {
  background-color: rgb(214, 214, 214);
  min-width: 95%;
  margin-bottom: 20px;
  /* border: solid 2px palevioletred; */
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.city-icon {
  display: inline;
  vertical-align: middle;
}

.display-city h2 {
  margin-left: 20px;
  display: inline;
  vertical-align: middle;
  color: #DA22FF;
}

.days-forecast {
  background-color: rgb(214, 214, 214);
  min-width: 95%;
  border-radius: 30px;
  height: 400px;
}

.city-data {
  list-style: none;
  padding: 0;
}

.city-data li {
  text-align: left;
  margin: 10px 0px 0px 20px;
}

.days-forecast h2 {
  margin: 30px 0px 0px 20px;
  color: rgb(0, 42, 255);
}

.days-container {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  height: 300px;
}

.day {
  padding-top: 10px;
  width: 180px;
  height: 200px;
  text-align: center;

  border-radius: 20px; 
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.day ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-left: 10px;
  line-height: 2;
}

.city-uv {
  margin-top: 20px;
  display: inline-block;
}


.uv-container-high {
  display: inline;
  width: 30px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: red;
}
.uv-container-moderate {
  display: inline;
  width: 30px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: rgb(195, 195, 2);
}

.uv-container-low {
  display: inline;
  width: 30px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: green;
}